*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
    background-image: url('../img/fondocomputer.jpg');

    rgb(255, 255, 255);
}*/
/*MENU*/
.section1{
    width: 100%;
}
.barra{
    width: 100%;
    height: 88px;
    background-color:rgb(255, 255, 255);
    position: fixed ;
    z-index: 100;
}
.logo{
    width: 20%;
    height: 20px;
}
.logo img{
    width: 30%;
    height: 70px;
    margin: 10px;
}
.header1{
    margin: 0px;
    width: 100%;
    position: relative;
    left: 850px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed ;
    z-index: 100;
}

ul, li {
    list-style: none;
}
.nav li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 20px;
     
}
.nav li a h4{
    font-size: 18px;
}
.nav li a:hover{
    background-color: rgba(125, 97, 190, 0.8);
}
.nav>li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px; 

}

.nav li:hover>ul {
    display: block;

}

.nav li ul li {
    position: relative;
    background-color: rgb(255, 255, 255);
}

.nav li ul li ul {
    right: -40px;
    top: 0px;
    text-align: center;
}
#op{
    min-width: 165px;
    border-radius: 0px;
}
/*/MENU*/

body{
    font-family: 'open sans';
    font-size: 16px;
}
/*encabezado*/
header{
    width: 100%;
    height: 620px;
    background-image: url(../img/st1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
}
header.textos{
    margin-top: 152px;

}
header .titulo{
    font-size: 85px;
    margin-top: 200px;
    font-family: 'Candara';
}
header .subtitulo{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;

}
/*/encabezado*/

/*CUERPO DE TRABAJO*/
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}
/*
.titulo-que-es{
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}*/
#parrafo{
    margin-bottom: 13px;
    margin: 20px;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    font-family: 'Arial';
    line-height: 30px;
    color: rgb(61, 58, 58);
}
#parrafo b{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.acerca-de{
    display: inline-block;
    padding: 6px;
    width: 100%;
    font-weight: 300;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    /*(background-color: rgba(251, 112, 62, 0.5);*/


    
}
.slogan{
    color: darkorange;
}
/*.informacion2{
    background-attachment: fixed;
    background-image: url(../img/fondocomputer.jpg); /*se utiliza para dar el fondo fijo*
}*/

.titulo3{
    text-align: center;
}

.cards{
    width: 100%; /*editado*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.card{
    margin: 20px;
    width: 30%;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgb(57, 93, 141);
}
.cards img{
    width: 140px;
    height: 140px ;
    object-fit: cover;
    border-radius: 100%;
}
.informacion3{
    height: 900px;
    position: relative;
    overflow: hidden;
    background-position: center;
    padding-top: 130px;

}

.titulo4, .subtitulo1{
    color: rgb(0, 0, 0);
    text-align: center;
}
.titulo4{
    font-size: 56px;
    margin: 0px;
}
.subtitulo1{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;

}
.ilustraciones{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-evenly;

}

.ilustraciones img{
    width: 100%;
}
/*ANIMACION*/
.ilustracion, .ilustracion2, .ilustracion3{
    width: 20%;
    height: 30px;
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;
}
.ilustracion:hover, .ilustracion2:hover, .ilustracion3:hover{
    
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(1.20);
    -moz-transform : scale(1.20);      /* Firefox */
    -webkit-transform : scale(1.20);   /* Chrome - Safari */
    -o-transform : scale(1.20);        /* Opera */
}
/*/ANIMACION*/
/*/CUERPO DE TRABAJO*/

/*seccion contactenos*/
footer{
    height: 50%;
   /* background: rgb(0, 0, 0);*/
    background-image: url(../img/footer_1.gif);
}
.titulo-footer, .subtitulo-footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 36px;

}
.subtitulo-footer{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
}
form input{
    position: relative;
    float: center;
    border-radius: 10px;
}
form textarea{
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
/*/section contactenos*/




